<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="rest_first.Test_02_POST"/>
      <class name="rest_first.Test_03_PUT"/>
      <class name="rest_first.Test_01_GET"/>
      <class name="rest_first.Test_1_intro"/>
      <class name="rest_first.Test_04_PATCH"/>
      <class name="rest_first.Test_05_DELETE"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
